#feedMenuMobile {
  display: none; // displayed via js
}

.feeds_list {
  background-color: $body-bg;

  a {
    color: $text-color;

    &:hover {
      text-decoration: none;
    }
  }

  .headline {
    color: $brand-primary;
  }
}

@media (min-width: 600px) {
  .feeds_dropdown {
    padding: 5px 0;
    margin: 5px;

    .feeds_list {
      padding: 0; // remove some bs default padding
      margin: 0;

      tr:nth-child(odd) {
        background-color: #f5f5f5;
      }

      td {
        white-space: nowrap; // let the dropdown grow with it's width

        &:hover {
          background-color: darken($body-bg, 20%);
        }
        &.headline:hover, &.placeholder:hover {
          background-color: inherit;
        }

        &.headline {
          line-height: 2.5;
        }
      }

      a, span {
        display: inline-block;
        width: 100%;
        line-height: 2;
        padding: 0 10pt;

        &.indented {
          padding-left: 23pt;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  // TODO better ul / li?
  .feeds_list {
    width: 100%;
    padding: 10pt 5pt 4pt 28pt;
    font-size: 14pt;

    td {
      line-height: 2;
    }

    .headline {
      a, span {
        font-size: 18pt;
        color: #d87500;
        line-height: 2;
      }
    }
  }
}
