.navbar {
  border: none;

  @media #{$xs-or-smaller} {
    position: initial;

    & > .container-fluid {
      display: inline-table;
      width: 100%;
    }
    form {
      width: 100%;
    }
    .input-group {
      margin-bottom: $padding-small-vertical;
    }
  }

  .navbar-brand {
    font-size: 24px;
    padding: 12px 15px;
    img {
      width: 27px;
      height: 27px;
      vertical-align: text-bottom;
    }
  }

  .btn.btn-default {
    padding: 0.2em;
    height: 1.8em;
    max-width: 2em;
    &:hover, &:focus, &:active {
      color: $brand-primary;
      background-color: #fff;
      border-color: #fff;
    }
  }

  .navbar-form {
    padding-left: 0.2em;
    margin-top: 0.8em;
    margin-bottom: 0.8em;

    &.dropdown {
      padding-right: 0.0em;
    }
  }

  input {
    height: 1.8em;
    padding-top: 6px;
  }

  .icon {
    min-width: 20px;
    font-size: 1.3em;
    display: inline-block;
  }
}


.feeds_list {
  // todo use variables.scss
  background-color: white;

  li {
    a {
      color: #333;

      &:hover {
        text-decoration: none;
        color: #262626;
        background-color: #ccc;
      }
    }

    .headline {
      color: #d87500;
    }
  }
}

#feedMenuMobile {
  display: none;
}

@media (min-width: 600px) {
  .feeds_dropdown {
    padding: 5px 0;
    margin: 5px;

    ul {
      list-style: none;
    }

    li {
      white-space: nowrap; // let the dropdown grow with it's width
    }

    .feeds_list {
      display: table;
      padding: 0; // remove some bs default padding
      margin: 0;

      a, span {
        display: inline-block;
        width: 100%;
        line-height: 1.5;
        padding: 0 10pt;

        &.indented {
          padding-left: 23pt;
        }
      }

      .headline {
        line-height: 2.5;
      }
    }

    // build the table layout
    .feed_row {
      display: table-row;
      .feed_cell {
        display: table-cell;
      }
    }

    .feed_row:nth-child(odd) {
      background-color: #f5f5f5; // line bg coloring
    }
  }
}

@media (max-width: 600px) {
  .feeds_list {
    width: 100%;
    padding: 10pt 5pt 4pt 28pt;
    font-size: 14pt;

    ul {
      list-style-type: square;

      > li {
        margin: 8pt 0;
      }
    }

    li {
      &.placeholder, &.placeholder {
        display: none;
      }

      &.headline {
        list-style-type: none;

        a, span {
          font-size: 18pt;
          color: #d87500;
          line-height: 1.5;
        }
      }
    }
  }
}
