.col-sm-9.left-column
  %ul.multi-column-dropdown
    -# Translates the feeds menu structure to HTML - see feeds_helper.rb for the structure
    - feed_structure.each do |entry|
      - if entry[:headline]
        %li.divider
        %li
          %span
            #{entry[:headline]}
      - else
        %li{:class => entry[:left][:indented]}
          %a{:href => entry[:left][:href], :title => entry[:left][:title]}
            #{entry[:left][:content]}
.col-sm-3.right-column
  %ul.multi-column-dropdown
    - feed_structure.each do |entry|
      - if entry[:headline]
        %li.divider
        %li
      - else
        %li
          - if entry[:right]
            %a{:href => entry[:right][:href], :title => entry[:right][:title]}
              #{entry[:right][:content]}